<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <title>weather.com</title>
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- import CSS -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<!-- import Vue before Element -->
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<!-- import JavaScript -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>

		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/icon.png">

		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">

		<link rel="stylesheet" href="assets/css/bootstrap.datetimepicker.min.css" media="screen">
		<link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css" media="screen">

		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">

		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="assets/css/feathericon.min.css">

		<link rel="stylesheet" href="assets/plugins/morris/morris.css">

		<!-- Main CSS -->
        <link rel="stylesheet" href="assets/css/style.css">

		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
    </head>
    <body>

		<!-- Main Wrapper -->
        <div class="main-wrapper">
			<!-- Header -->
            <div class="header1">

				<!-- Logo -->
                <div class="header-left">
                    <a href="index.html" class="logo">
						<img src="assets/img/icon-weather.png" alt="Logo">
					</a>
					<a href="index.html" class="logo logo-small">
						<img src="assets/img/icon-weather.png" alt="Logo" width="30" height="30">
					</a>
                </div>
				<!-- /Logo -->

				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fe fe-text-align-left"></i>
				</a>

				<div id="app" class="block">
					<div class="block">
						<el-form :inline="true" :model="formInline" class="demo-form-inline">
						  <el-form-item label="城市选择">
							<el-input v-model="input" placeholder="请输入城市"></el-input>
						  </el-form-item>
						  <el-form-item label="日期选择">
						    <el-date-picker
						      v-model="value2"
						      align="right"
						      type="date"
						      placeholder="请选择日期"
						      :picker-options="pickerOptions">
						    </el-date-picker>
						  </el-form-item>
						  <el-form-item>
						    <el-button type="primary" @click="onSubmit">查询</el-button>
						  </el-form-item>
						</el-form>
					</div>
				</div>
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">
					
					<!-- User Menu -->
					
					<li class="nav-item dropdown has-arrow">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img"><img class="rounded-circle" src="assets/img/profiles/meee.jpeg" width="31" alt="Ryan Taylor"></span>
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img src="assets/img/profiles/meee.jpeg" alt="User Image" class="avatar-img rounded-circle">
								</div>
								<div class="user-text">
									<h6>Allen Davis</h6>
									<p class="text-muted mb-0">Administrator</p>
								</div>
							</div>
							<a class="dropdown-item" href="profile.html">My Profile</a>
							<a class="dropdown-item" href="settings.html">Settings</a>
							<a class="dropdown-item" href="login.html">Logout</a>
						</div>
					</li>
					<!-- /User Menu -->
					
					<!--
					<li class="nav-item dropdown noti-dropdown" id="login part">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>Log in
						</a>
						<div class="dropdown-menu pull-right" style="min-width:250px" >
							<div class="topnav-dropdown-header">
								<span class="notification-title">Login your account</span>
							</div>
							<form class="form-horizontal" role="form">
							  <div class="form-group">
							    <label for="name" class="col-lg-5 control-label">Name</label>
							    <div class="col-lg-6">
							      <input type="text" class="form-control" id="firstname" placeholder="Name">
							    </div>
							  </div>
							  <div class="form-group">
							    <label for="password" class="col-lg-5 control-label">Password</label>
							    <div class="col-lg-6">
							      <input type="text" class="form-control" id="lastname" placeholder="Password">
							    </div>
							  </div>
							  <div class="form-group">
							  </div>
							  <div class="form-group">
							    <div class="col-sm-offset-5 col-sm-10">
							      <button type="button" class="btn btn-success" onclick="login()">Log In</button>
							    </div>
							  </div>
							</form>
						</div>
					</li>-->
					
				</ul>
				<!-- /Header Right Menu -->
				
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fa fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
			<!-- /Header -->

			<!-- Page Wrapper -->
            <div class="page-wrapper1">

                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Welcome, John Snow !</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item active"> </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
					<div class="row">
                     <!--走势图-->
						<div class="col-sm-5">
							<!-- Sales Chart -->
							<div class="card card-chart">
								<div class="card-header">
									<h4 class="card-title">average temperature</h4>
								</div>
								<div class="card-body">
									<div id="morrisArea"></div>
								</div>
							</div>
							<!-- /Sales Chart -->
						</div>
						<div class="col-sm-6">

							<!-- Invoice Chart -->
							<div class="card card-chart">
								<div class="card-header">
									<h4 class="card-title">highest and lowest temperature</h4>
								</div>
								<div class="card-body">
									<div id="morrisLine"></div>
								</div>
							</div>
							<!-- /Invoice Chart -->
						</div>
					</div>
				    <!--走势图-->
			</div>
		<!-- /Main Wrapper -->

		<!-- jQuery -->
        <script src="assets/js/jquery-3.2.1.min.js"></script>

		<!-- Bootstrap Core JS -->
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>

		<!-- Slimscroll JS -->
        <script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

		<script src="assets/plugins/raphael/raphael.min.js"></script>
		<script src="assets/plugins/morris/morris.min.js"></script>
		<script src="assets/js/chart.morris.js"></script>

		<!-- Custom JS -->
		<script  src="assets/js/script.js"></script>
				<script src="assets/js/bootstrap.js"></script>
		<script src="assets/js/bootstrap.timepicker.js"></script>
		<script src="assets/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
		<script src="assets/js/bootstrap-datetimepicker.el.js" charset="UTF-8"></script>


		<script>
		  new Vue({
		    el: '#app',
		    data: function() {
		      return {
					visible: false ,
					formInline: {
					          user: '',
					          region: ''},
					pickerOptions: {
					  disabledDate(time) {
					    return time.getTime() > Date.now();
					  },
					  shortcuts: [{
					    text: '今天',
					    onClick(picker) {
					      picker.$emit('pick', new Date());
					    }
					  }, {
					    text: '昨天',
					    onClick(picker) {
					      const date = new Date();
					      date.setTime(date.getTime() - 3600 * 1000 * 24);
					      picker.$emit('pick', date);
					    }
					  }, {
					    text: '一周前',
					    onClick(picker) {
					      const date = new Date();
					      date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
					      picker.$emit('pick', date);
					    }
					  }]
					},
					value1: '',
					value2: '',
					input: ''
				}
		    },
			 methods: {
			      onSubmit() {
			        console.log('submit!');
			      }
			    }
		  })
		 </script>
				<script>
		    $('.form_date').datetimepicker({
		        language:  'fr',
		        weekStart: 1,
		        todayBtn:  1,
		        autoclose: 1,
		        todayHighlight: 1,
		        startView: 2,
		        minView: 2,
		        forceParse: 0
		    });
		</script>
		
    </body>
</html>